{% extends "base.html" %}

{% block title %}Library - Logos{% endblock %}

{% block content %}
<div class="lib-content">
    <h1 class="lib-title">Library</h1>

    <!-- breadcrumb trail built from the current path -->
    <p class="lib-breadcrumbs">
        <a href="/library">Library</a>
        {% if tmplSubPath %}
            {% for vPart in tmplSubPath.split("/") %}
                {% set vCrumbPath = tmplSubPath.split("/")[:loop.index] | join("/") %}
                <span class="lib-crumb-sep">/</span> <a href="/library/{{ vCrumbPath }}">{{ vPart }}</a>
            {% endfor %}
        {% endif %}
    </p>

    <!-- back link to the parent folder -->
    {% if not tmplIsAtRoot %}
        {% if tmplParentPath %}
            <a class="lib-back" href="/library/{{ tmplParentPath }}">
                <img class="lib-back-icon" src="/static/icons/arrow-left.svg" width="13" height="13" alt="">
                Back
            </a>
        {% else %}
            <a class="lib-back" href="/library">
                <img class="lib-back-icon" src="/static/icons/arrow-left.svg" width="13" height="13" alt="">
                Back
            </a>
        {% endif %}
    {% endif %}

    <!-- folders in this directory -->
    {% if tmplFolders %}
        <p class="lib-section">Folders</p>
        <ul class="lib-list">
            {% for vFolder in tmplFolders %}
            <li class="lib-item lib-item-folder">
                <a class="lib-link" href="/library/{{ tmplSubPath ~ '/' ~ vFolder if tmplSubPath else vFolder }}">
                    <img class="lib-icon" src="/static/icons/folder.svg" width="16" height="16" alt="">
                    <span class="lib-name">{{ vFolder }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- downloadable files in this directory -->
    {% if tmplFiles %}
        <p class="lib-section">Files</p>
        <ul class="lib-list">
            {% for vFile in tmplFiles %}
            <li class="lib-item">
                <span class="lib-link">
                    <img class="lib-icon" src="/static/icons/file-text.svg" width="16" height="16" alt="">
                    <span class="lib-name">{{ vFile }}</span>
                </span>
                <a class="lib-download" href="/download/{{ tmplSubPath ~ '/' ~ vFile if tmplSubPath else vFile }}">Download</a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- empty folder fallback -->
    {% if not tmplFolders and not tmplFiles %}
        <p class="lib-empty">This folder is empty.</p>
    {% endif %}
</div>
{% endblock %}
